@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use essa área para inserir informações sobre seu projeto.</p>
<h3>Projeto realizado pelo @ViewData["Name"]</h3>
